@model DoAn.Models.NhanVien

@{
    ViewBag.Title = "DeleteNV";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Xóa nhân viên</h2>

<h3>Xác nhận xóa nhân viên này?</h3>
<div>

    <hr />
    <table class="table">
        <tr>
            <th>
                Họ và tên
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>

            <th>
                Chức vụ
            </th>
            <th></th>
        </tr>

        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.phone_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.role_id)
                </td>
                <td>
                    

                </td>
            </tr>
        

    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "NhanVien")
        </div>
    }
</div>
