@model DoAn.Models.KhachHang

@{
    ViewBag.Title = "DeleteKH";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Xóa khách hàng</h2>

<h3>Xác nhận xóa khách hàng này?</h3>
<div>
    <hr />


    <table class="table">
        <tr>
            <th>
                Họ và tên
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>

          
            <th></th>
        </tr>


        <tr>
            <td>
                @Html.DisplayFor(model => model.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.address)
            </td>
        
            <td>
            </td>
        </tr>


    </table>

    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "KhachHang")
        </div>
    }
</div>
