
@model PagedList.IPagedList<DoAn.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using X.PagedList.Mvc.Common;
@using PagedList.Mvc;

<body class="main-layout inner_page">
    
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container" >
                <div class="panel panel-default">
                    <div class="panel panel-heading" style="font-size:20px; padding:20px; text-align:center; padding-top:100px">
                        @item.title
                        

                        <a href="@Url.Action("Detail", new {id=item.id })">
                            <img src=@Url.Content(item.thumbnail) class="img-responsive" alt=""  />
                        </a>


                    </div>
                    <div class="panel-body" >
                        
                        

                    </div>
                    <div class="panel-footer clearfix">
                        <div class="pull-right" style="padding-right:200px">
                            <p><strong>Giá: </strong>@item.price VNĐ</p>

                            

                            @using (Html.BeginForm("addCart", "GioHang", new { @id = item.id , @strURL = Request.Url.ToString() }))
                            {
                                <button type="submit" class="btn-order"><span>Order</span></button>
                            }


                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>


<div>
    <div class="SoTrang">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>

    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedList.Mvc.PagedListRenderOptions.Minimal)
    </div>
</div>

<style>

    .btn-order {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 12px;
    }

        .btn-order span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .btn-order span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .btn-order:hover span {
            padding-right: 25px;
        }

            .btn-order:hover span:after {
                opacity: 1;
                right: 0;
            }


    .SoTrang {
        font-size: 20px;
        padding: 5px;
    }

    .MenuTrang {
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        
    }
        
        .MenuTrang .pagination-container .pagination .PagedList-skipToNext {
            margin-left: 300px;
        }
            

        .MenuTrang li {
        }
            .MenuTrang li a {
                display: inline-block;
                text-align: left;
                text-align: center;
                background-color: #4CAF50;
                /* Green */
                border: none;
                color: white;
                padding: 10px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                border-radius: 12px;
                text-align: center;
            }
        
</style>
<style type="/text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
        width: 500px;
        padding: 100px;
        border: 50px;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="readmore">đọc tiếp...</a>');
                $(this).append('<span class="more-text">' + removedStr +
                    '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>


