
@model PagedList.IPagedList<DoAn.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using X.PagedList.Mvc.Common;
@using PagedList.Mvc;

<div class="row">
    <div class="column">
        <form asp-action="Index" method="get" class="search-box">
            <button class="btn-search"><i class="fa fa-search"></i></button>
            <input type="text" name="nameSearch" class="input-search" placeholder="Tên gạo...">
        </form>
    </div>
    <div class="column">
        Giá
        <form asp-action="Index" method="get" class="search-box">
            <input type="number" name="from"> - <input type="number" name="to">            <button><i class="fa fa-search"></i></button>

        </form>
    </div>
</div>






<body class="main-layout inner_page">




    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container">
                <div class="panel panel-default">
                    <div class="panel panel-heading" style="font-size:20px; padding:20px; text-align:center; padding-top:100px">
                        @item.title


                        <a href="@Url.Action("Detail", new {id=item.id })">
                            <img src=@Url.Content(item.thumbnail) class="img-responsive" alt="" />
                        </a>


                    </div>
                    <div class="panel-body">



                    </div>
                    <div class="panel-footer clearfix">
                        <div class="pull-right" style="padding-right:200px">
                            <p><strong>Giá: </strong>@String.Format("{0:0,0}", @item.price) VNĐ</p>



                            @using (Html.BeginForm("addCart", "GioHang", new { @id = item.id, @strURL = Request.Url.ToString() }))
                            {
                                <button type="submit" onclick="showAlert()" class="btn-order"><span>Order</span></button>
                            }


                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>


<div>
    <div class="SoTrang">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>

    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedList.Mvc.PagedListRenderOptions.Minimal)
    </div>
</div>





<style>
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .btn-order {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 12px;
    }

        .btn-order span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .btn-order span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .btn-order:hover span {
            padding-right: 25px;
        }

            .btn-order:hover span:after {
                opacity: 1;
                right: 0;
            }


    .SoTrang {
        font-size: 20px;
        padding: 5px;
    }

    .MenuTrang {
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

        .MenuTrang .pagination-container .pagination .PagedList-skipToNext {
            margin-left: 300px;
        }


        .MenuTrang li {
        }

            .MenuTrang li a {
                display: inline-block;
                text-align: left;
                text-align: center;
                background-color: #4CAF50;
                /* Green */
                border: none;
                color: white;
                padding: 10px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                border-radius: 12px;
                text-align: center;
            }
</style>
<style type="/text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
        width: 500px;
        padding: 100px;
        border: 50px;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>

<style>
    .show-read-more .more-text {
        display: none;
    }

    .search-box {
        width: fit-content;
        height: fit-content;
        position: relative;
    }

    .input-search {
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #22a6b3;
        padding-right: 40px;
        color: black;
    }

        .input-search::placeholder {
            color: rgba(255,255,255,.5);
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100;
        }

    .btn-search {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: transparent;
        pointer-events: painted;
    }

        .btn-search:focus ~ .input-search {
            width: 300px;
            border-radius: 0px;
            background-color: #22a6b3;
            border-bottom: 1px solid rgba(255,255,255,.5);
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }

    .input-search:focus {
        width: 300px;
        border-radius: 3px;
        border: 10px;
        background-color: #22a6b3;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
</style>


<style>
    .show-read-more .more-text {
        display: none;
    }
</style>
