@model DoAn.Models.KhachHang

@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="main-layout inner_page">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <form method="post" asp-action="Edit">


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                       id="oldPassword" name="oldPassword" type="password" value="" aria
                       describedby="MatKhauXacNhan-error" aria-invalid="true" placeholder="Old Password" required="">
                <div style="font-size:15px; margin-left:50px;color:red">@ViewData["saiMK"]</div>

                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                       id="password" name="password" type="password" value="" aria
                       describedby="MatKhauXacNhan-error" aria-invalid="true" placeholder="New Password" required="">

                <input class="form-control text-box single-line input-validation-error"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!"
                       id="confirmPassword" name="confirmPassword" type="password" value="" aria
                       describedby="MatKhauXacNhan-error" aria-invalid="true" placeholder="Confirm Password" required="">
                <div style="font-size:15px; margin-left:50px;color:red">@ViewData["passwordGiongNhau"]</div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>

    }
</body>
    <div>
        @Html.ActionLink("Back to List", "Index", "SanPham")
    </div>
