@model DoAn.Models.KhachHang

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>



<body class="main-layout inner_page">


    <div class="row">
        <div class="column">
            <dl class="">
                <dt>
                    Họ và tên
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fullname)

                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    Số điện thoại
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phone_number)
                </dd>

                <dt>
                    Địa chỉ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.address)
                </dd>





            </dl>

        </div>
        <div class="column"></div>
    </div>


</body>


<p class="edit">
    @Html.ActionLink("Sửa thông tin", "Edit", new { id = Model.id })
</p>
<p class="changepass">
    @Html.ActionLink("Đổi mật khẩu", "changePassword", new { id = Model.id })

</p>
<style>
   
        .edit {
            background-color: #0094ff;
            display: inline-block;
            padding: 10px 20px;
            color: white;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .changepass {
            background-color: #4CAF50;
            display: inline-block;
        padding: 10px 20px;
        color: white;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }

    .column {
        float: right;
        width: 50%;
        padding-left: 100px;
        font-size: 25px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>